body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    background-image: url("http://localhost:8080/bg.jpg");
    min-height: 100%;
    background-size: cover;
}

html{
    min-height: 100%;
}

.header{
    justify-content: space-between;
    align-items: center;
}

.header-cont{
    border-bottom: 1px solid #adadad;
    padding: 12px;
}

.logo{
    width: 60px;
    height: 60px;
}

.header-text{
    font-weight: bold;
    font-size: 60px;
    text-decoration: none;
}

.scon{
    width: 350px;
    
}

.sscon{
    padding-top: 20px;
}

.content-menu{
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.app-form{
    width:max-content;
}

.patient{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 12px;
}

.doctor{
    margin-top: 4px;
    background-color: #e6fffc;
    border-radius: 20px;
    padding: 12px;
}

.logout{
    background-color: #fa6055;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    padding: 8px;
}

.header-link{
    text-decoration: none;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
    margin: 0 auto;
}

.row{
    flex-direction: row;
}

.items-centre{
    align-items: center;
}

.form-input{
    margin-top: 8px;
}

.message{
    color: black;
    font-weight: bold;
    text-align: center;
}

a{
    color: darkslategray;
    text-decoration: none;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.menu-link{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 280px;
    padding: 12px;
    background-color: #f2f2f2;
    box-shadow: 0px 4px 4px black;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.super-container{
    min-height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(255, 255, 255, 0.9) ;
}

.hi{
    color: gray;
}

.link{
    margin-top: 8px;
    align-items: center;
}

.id{
    color: darkslategray;
}

.name{
    font-style: italic;
}
.role{
    font-size: 8px;
}