<div xmlns:th="http://www.thymeleaf.org" th:fragment="appointmentListFragment(appointment)">
    <div class="flex column items-centre">
        <div th:replace="~{fragments/patientListFragment.html (${appointment.patient})}"></div>
        <div th:replace="~{fragments/doctorListFragment.html (${appointment.doctor})}"></div>
        <div class="date" th:text="'Дата: ' +  ${appointment.appointmentDate} + ' Время: ' + ${appointment.time}"/>
        <form th:action="@{/mvc/v1/appointments(id = ${appointment.id})}" th:method="delete">
            <input type="submit" value="Удалить запись">
        </form>
    </div>
</div>