<div xmlns:th="http://www.thymeleaf.org" th:fragment="doctorListFragment(doctor)">
    <div class="doctor">
        <div class="id" th:text="'Идентификатор врача: ' + ${doctor.id}"/>
        <div class="name" th:text="'Имя врача: ' + ${doctor.firstname} + ' ' + ${doctor.lastname}"/>
        <div th:text="'Специализация: ' + ${doctor.specialization}"/>
    </div>
</div>
