<div class="header-cont items-centre content" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
  <div class="header flex row">

   <div>
      <a th:href="@{/mvc/v1/main}" class="header-link">
      <img th:src="@{/logo.png}" class="logo">
      <span class="header-text">
        Клинника счастья
      </span>
    </a>
    <div th:if="${username}" class="hi" th:text="'Привет ' + ${username} + '!'"/>
   </div>

    <form class="link" th:action="@{/logout}">
      <input class="logout" type="submit" value="Выйти">
    </form>

  </div>
  
</div>