<div xmlns:th="http://www.thymeleaf.org" th:fragment="patientListFragment(patient)">
    <div class="patient">
        <div class="id flex">
            <img src="@{/appointment.png}" alt="">
            <div th:text="'Идентификатор пациента: ' + ${patient.id}"></div>
        </div>
        <div class="name flex">
            <img src="@{/patient.png}" alt="">
            <div th:text="'Имя пациента: ' + ${patient.firstname} + ' ' + ${patient.lastname}"></div>
        </div>
    </div>
</div>