<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <meta charset="UTF-8">
    <title>Записать пациента</title>
</head>
<body>

<div class="super-container">
    <div th:insert="~{fragments/header.html}"></div>
<div class="flex column content-menu items-centre sscon">
    <div class="flex column scon">
        <div class="message ">
            Введите индентификатор пользователя
        </div>
        <div th:if="${patient}" th:insert="~{fragments/patientListFragment.html (${patient})}"></div>
        <form class="flex app-form column" th:action="@{/mvc/v1/addAppointment}">
            <input class="form-input" type="number" name="patient_id" th:value="${id} ? ${id} : 0"
                   onchange="this.form.submit()" th:formmethod="get">
            <select class="form-input" th:if="${patient}" name="specialization" onchange="this.form.submit()" th:formmethod="get">
                <option th:text="${specialization} ? ${specialization} : 'Выбери врача'"
                        th:value="${specialization} ? ${specialization}"/>
                <option th:each="spec : ${specializations}"
                        th:value="${spec}"
                        th:text="${spec}"/>
            </select>
            <select class="form-input" th:if="${doctors}" name="doctor-id" onchange="this.form.submit()" th:formmethod="get">
                <option th:text="${doctor} ? ${doctor.firstname} + ' ' + ${doctor.lastname} : 'Выбери врача'"
                        th:value="${doctor} ? ${doctor.id}"/>
                <option th:each="doc : ${doctors}"
                        th:value="${doc.id}"
                        th:text="${doc.firstname} + ' ' + ${doc.lastname}"/>
            </select>
            <input class="form-input" th:if="${doctor}" th:value="${date} ? ${date}" type="date" name="date" onchange="this.form.submit()" th:formmethod="get">
    
            <select class="form-input" th:if="${schedule}" name="time">
                <option th:each="row : ${schedule}"
                        th:value="${row}"
                        th:text="${row}"/>
            </select>
            <input class="form-input" th:if="${schedule!=null and !schedule.isEmpty()}" type="submit" th:formmethod="post">
        </form>
    </div>
    </div>
    
</div>


</body>
</html>