<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
</head>
<body>

    <div class="super-container">
        <div th:insert="~{fragments/header.html}"></div>
        <div class="flex column content items-centre" th:each="el : ${list}">
            <div class="link" th:insert="~{fragments/appointmentListFragment.html (${el})}"></div>
            <br>
        </div>
    </div>
</body>
</html>