<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="super-container">
        <div th:insert="~{fragments/header.html}"></div>
        <div class="flex column content-menu items-centre">
            <div class="menu-link">
                <img th:src="@{/appointment.png}" class="icon">
                <a th:href="@{/mvc/v1/addAppointment}">Записать пациента на прием</a>
            </div>
            <div class="menu-link">
                <img th:src="@{/look-appointment.png}" class="icon">
                <a th:href="@{/mvc/v1/patient/appointments}">Посмотреть записи пациента</a>
            </div>
            <div class="menu-link" th:if="${isAdmin}">
                <img th:src="@{/admin-look.png}" class="icon">
                <a th:href="@{/mvc/v1/appointments}">Посмотреть все записи</a>
            </div>
            <div class="menu-link" th:if="${isAdmin}">
                <img th:src="@{/patient.png}" class="icon">
                <a th:href="@{/admin/all(attribute='patients')}">Посмотреть всех пациентов</a>
            </div>
            <div class="menu-link" th:if="${isAdmin}">
                <img th:src="@{/doctor.png}" class="icon">
                <a th:href="@{/admin/all(attribute='doctors')}">Посмотреть всех врачей</a>
            </div>
            <div class="menu-link" th:if="${isAdmin}">
                <img th:src="@{/add-registrator.png}" class="icon">
                <a th:href="@{/admin/registrar/add}">Добавить нового регистратора</a>
            </div>
            <div class="menu-link" th:if="${isAdmin}">
                <img th:src="@{/admin-look.png}" class="icon">
                <a th:href="@{/admin/registrar/all}">Показать всех пользователей</a>
            </div>
        </div>
    </div>
</body>
</html>