<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
</head>
<body>
    <div class="super-container">
        <div th:insert="~{fragments/header.html}"></div>
        <div class="flex column content-menu items-centre">
            <form th:action="@{/mvc/v1/patient/appointments}" th:method="get">
                <input type="number" name="patient_id" onchange="this.form.submit()" th:value="${id} ? ${id} : 0">
            </form>
            <div class="flex column content items-centre" th:if="${list}" th:each="el : ${list}">
                <div class="link" th:insert="~{fragments/appointmentListFragment.html (${el})}"></div>
                <br>
            </div>
        </div>
    </div>
</body>
</html>