<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
</head>
<body>
  <div class="super-container">
    <div th:insert="~{fragments/header.html}"></div>
    <div class="flex column content-menu items-centre">
      <form class="flex column content items-centre" th:action="@{/admin/registrar/add}" th:method="post">
          <input type="text" th:name="login">
          <input type="password" th:name="password">
          <input type="submit" value="Добавить регистратора">
      </form>
    </div>
  </div>
</body>
</html>