<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
</head>
<body>
    <div class="super-container">
        <div th:insert="~{fragments/header.html}"></div>
        <div class="flex column content-menu items-centre">
            <div class="flex column content items-centre link" th:each="user : ${users}">
                <form class="flex column content items-centre" th:action="@{/admin/registrar}" th:method="get">
                <th:block th:text="${user.login}"/>
                <br>
                <div class="flex column content items-centre" th:each="role : ${user.roles}">
                    <div class="role" th:text="${role.name}"/>
                </div>
                <input type="hidden" name="id" th:value="${user.id}"/>
                <input  type="submit" th:value="'Изменить'">
                </form>
            </div>
        </div>
    </div>

</body>
</html>