<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
</head>
<body>
<div class="super-container">
  <div th:insert="~{fragments/header.html}"></div>
  <form class="flex column content-menu items-centre link" th:action="@{/admin/modify-registrar(id = ${user.id})}" th:method="post">
    <div th:text="${user.login}"/><br>
    <div th:text="'Новый пароль'"/>
    <input class="link" type="password" name="password">
    <input class="link" type="submit" th:value="'Изменить'">
  </form>
</div>

</body>
</html>